In [6]:
import pandas as pd
car_data=pd.read_csv("train.csv")

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from datetime import datetime

In [8]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [9]:
missing_values = car_data.isnull().sum()
print(missing_values) # Checking for missing values

miss_col = []
for col, value in missing_values.items():
    if value > 0:
        miss_col.append(col)

print("Columns with missing values:", miss_col)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Columns with missing values: ['Mileage', 'Engine', 'Power', 'Seats', 'New_Price']

In [10]:
for col in miss_col:
    if car_data[col].dtype == 'object':
        car_data[col].fillna(car_data[col].mode()[0], inplace=True)
    else:
        car_data[col].fillna(car_data[col].mean(), inplace=True)

In [11]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.78 Lakh,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,4.78 Lakh,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,4.78 Lakh,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,4.78 Lakh,2.50

In [12]:
car_data['Mileage'] = car_data['Mileage'].str.extract('(\d+.\d+)').astype(float)
car_data['Engine'] = car_data['Engine'].str.replace(' CC', '').astype(int)
car_data['Power'] = car_data['Power'].str.extract('(\d+.\d+)').astype(float)
car_data['New_Price'] = car_data['New_Price'].str.extract('(\d+.\d+)').astype(float)

In [13]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5.0,4.78,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,4.78,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5.0,4.78,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.10,5.0,4.78,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,NaN,5.0,7.88,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120,NaN,5.0,4.78,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498,112.00,8.0,4.78,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998,67.10,5.0,4.78,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936,57.60,5.0,4.78,2.50

In [14]:
label_encoder = LabelEncoder()
car_data['Fuel_Type_Label'] = label_encoder.fit_transform(car_data['Fuel_Type'])
car_data['Transmission_Label'] = label_encoder.fit_transform(car_data['Transmission'])

onehot_encoder = OneHotEncoder(sparse=False)

fuel_type_encoded = onehot_encoder.fit_transform(car_data[['Fuel_Type_Label']])
transmission_encoded = onehot_encoder.fit_transform(car_data[['Transmission_Label']])

fuel_type_encoded_df = pd.DataFrame(fuel_type_encoded, columns=['Fuel_Type_' + str(i) for i in range(fuel_type_encoded.shape[1])])
transmission_encoded_df = pd.DataFrame(transmission_encoded, columns=['Transmission_' + str(i) for i in range(transmission_encoded.shape[1])])

car_data = pd.concat([car_data, fuel_type_encoded_df, transmission_encoded_df], axis=1)

car_data.drop(['Fuel_Type', 'Transmission', 'Fuel_Type_Label', 'Transmission_Label'], axis=1, inplace=True)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [15]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0

In [16]:
current_year = datetime.now().year
car_data['Current_Age'] = current_year - car_data['Year']
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13

In [17]:
selected_data = car_data[['Name', 'Year', 'Price']]#select
print(selected_data)

                                  Name  Year  Price
0     Hyundai Creta 1.6 CRDi SX Option  2015  12.50
1                         Honda Jazz V  2011   4.50
2                    Maruti Ertiga VDI  2012   6.00
3      Audi A4 New 2.0 TDI Multitronic  2013  17.74
4               Nissan Micra Diesel XV  2013   3.50
...                                ...   ...    ...
5842                  Maruti Swift VDI  2014   4.75
5843          Hyundai Xcent 1.1 CRDi S  2015   4.00
5844             Mahindra Xylo D4 BSIV  2012   2.90
5845                Maruti Wagon R VXI  2013   2.65
5846             Chevrolet Beat Diesel  2011   2.50

[5847 rows x 3 columns]

In [25]:
filtered_data = car_data[car_data['Location'] == 'Hyderabad']#filtered Data
print(filtered_data)

      Unnamed: 0                             Name   Location  Year  \
24            26           Nissan Micra Diesel XV  Hyderabad  2012
25            27    Maruti Alto K10 2010-2014 VXI  Hyderabad  2013
56            58            Nissan X-Trail SLX AT  Hyderabad  2010
57            59      Maruti Zen Estilo VXI BSIII  Hyderabad  2010
75            78  Toyota Innova 2.5 VX 7 STR BSIV  Hyderabad  2012
...          ...                              ...        ...   ...
5808        5978                 Mahindra Xylo D4  Hyderabad  2016
5820        5991                 Maruti Swift VDI  Hyderabad  2012
5836        6008          Porsche Panamera Diesel  Hyderabad  2013
5839        6011          Skoda Superb 3.6 V6 FSI  Hyderabad  2009
5846        6018            Chevrolet Beat Diesel  Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats  \
24                54000      First    16.48    1461   63.1    5.0
25                54000     Second    20.92     998   67.1    5.0
56               121812      First     9.49    1995  147.6    5.0
57                39300      First    18.20     998   67.1    5.0
75               104000      First    12.80    2494  102.0    7.0
...                 ...        ...      ...     ...    ...    ...
5808             105545      First    14.00    2498  112.0    7.0
5820              68238      First    22.90    1248    NaN    5.0
5836              40000     Second    17.85    2967  300.0    4.0
5839              53000      First     0.00    3597  262.6    5.0
5846              47000      First    25.44     936   57.6    5.0

      NewPriceCAR  Price  Fuel_Type_0  Fuel_Type_1  Fuel_Type_2  \
24           4.78   4.25          1.0          0.0          0.0
25           4.78   2.75          0.0          0.0          1.0
56           4.78   7.75          1.0          0.0          0.0
57           4.78   2.25          0.0          0.0          1.0
75           4.78  11.75          1.0          0.0          0.0
...           ...    ...          ...          ...          ...
5808         4.78   5.30          1.0          0.0          0.0
5820         4.78   4.80          1.0          0.0          0.0
5836         4.78  45.00          1.0          0.0          0.0
5839         4.78   4.75          0.0          0.0          1.0
5846         4.78   2.50          1.0          0.0          0.0

      Transmission_0  Transmission_1  Current_Age  Increseprice
24               0.0             1.0           12          0.53
25               0.0             1.0           11          2.03
56               1.0             0.0           14         -2.97
57               0.0             1.0           14          2.53
75               0.0             1.0           12         -6.97
...              ...             ...          ...           ...
5808             0.0             1.0            8         -0.52
5820             0.0             1.0           12         -0.02
5836             1.0             0.0           11        -40.22
5839             1.0             0.0           15          0.03
5846             0.0             1.0           13          2.28

[710 rows x 19 columns]

In [19]:
car_data = car_data.rename(columns={'New_Price': 'NewPriceCAR'})#rename
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13

In [20]:
car_data['Increseprice'] =  car_data['NewPriceCAR']- car_data['Price']
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age,Increseprice
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9,-7.72
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13,4.11
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12,-1.22
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11,-12.96
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11,1.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10,3.13
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9,0.78
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12,1.88
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11,2.13
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13,2.28

In [26]:
sorted_car_data = car_data.sort_values(by='Year', ascending=True)
sorted_car_data#arrange

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age,Increseprice
5558,5716,Maruti Zen LX,Jaipur,1998,95150,Third,17.30,993,NaN,5.0,4.78,0.53,0.0,0.0,1.0,0.0,1.0,26,4.25
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,Third,17.30,993,NaN,5.0,4.78,0.45,0.0,0.0,1.0,0.0,1.0,26,4.33
3630,3749,Mercedes-Benz E-Class 250 D W 210,Mumbai,1998,55300,First,10.00,1796,157.70,5.0,4.78,3.90,1.0,0.0,0.0,1.0,0.0,26,0.88
1791,1845,Honda City 1.3 EXI,Pune,1999,140000,First,13.00,1343,NaN,5.0,4.78,0.90,0.0,0.0,1.0,0.0,1.0,25,3.88
1185,1224,Maruti Zen VX,Jaipur,1999,70000,Second,17.30,993,NaN,5.0,4.78,0.77,0.0,0.0,1.0,0.0,1.0,25,4.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956,5102,Maruti Wagon R VXI,Kochi,2019,31817,First,22.50,998,67.04,5.0,5.12,5.34,0.0,0.0,1.0,0.0,1.0,5,-0.22
5712,5875,Mercedes-Benz C-Class Progressive C 220d,Ahmedabad,2019,4000,First,0.00,1950,194.00,5.0,49.14,35.00,1.0,0.0,0.0,1.0,0.0,5,14.14
1486,1534,Honda City i VTEC VX Option,Coimbatore,2019,23882,First,17.40,1497,117.30,5.0,4.78,11.87,0.0,0.0,1.0,0.0,1.0,5,-7.09
4319,4452,Toyota Innova Crysta 2.8 GX AT,Kochi,2019,14076,First,11.36,2755,171.50,7.0,20.74,19.40,1.0,0.0,0.0,1.0,0.0,5,1.34
2511,2595,Tata Tiago AMT 1.2 Revotron XZA,Coimbatore,2019,15379,First,23.84,1199,83.83,5.0,7.17,6.97,0.0,0.0,1.0,1.0,0.0,5,0.20

In [22]:
average_price_by_fuel_type = car_data.groupby('Kilometers_Driven')['Mileage'].mean()#summarize
average_price_by_fuel_type

Kilometers_Driven
171        24.700000
600        21.500000
1000       18.493333
1001       22.415000
1011       20.370000
             ...
480000     17.180000
620000     20.360000
720000     20.540000
775000     19.300000
6500000    15.970000
Name: Mileage, Length: 3019, dtype: float64

In [24]:
car_data.to_csv('car_data_clean.csv', index=False)